* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  display: block;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.col-1 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 6.17215%;
}
.col-1:last-child {
  margin-right: 0;
}

.col-2 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
}
.col-2:last-child {
  margin-right: 0;
}

.col-3 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
}
.col-3:last-child {
  margin-right: 0;
}

.col-4 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
}
.col-4:last-child {
  margin-right: 0;
}

.col-5 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%;
}
.col-5:last-child {
  margin-right: 0;
}

.col-6 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
}
.col-6:last-child {
  margin-right: 0;
}

.col-7 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 57.35098%;
}
.col-7:last-child {
  margin-right: 0;
}

.col-8 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
}
.col-8:last-child {
  margin-right: 0;
}

.col-9 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%;
}
.col-9:last-child {
  margin-right: 0;
}

.col-10 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
}
.col-10:last-child {
  margin-right: 0;
}

.col-11 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 91.4702%;
}
.col-11:last-child {
  margin-right: 0;
}

.col-12 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
}
.col-12:last-child {
  margin-right: 0;
}

.no-gutter {
  margin-right: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  width: 260px;
}
